[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
python-dotenv = "*"
pafy = "*"
asyncio = "*"
spotipy = "*"
discord = "*"
load-dotenv = "*"
datetime = "*"
youtube-search-python = "*"
youtube-dl = "*"
pynacl = "*"
yt-dlp = "*"

[dev-packages]

[requires]
python_version = "3.12"
